[color]
    ui = true
[format]
    pretty = full
[core]
    editor = vim
[user]
	name = Dionysis Zindros
	email = dionyziz@gmail.com
[credential]
	helper = cache --timeout=3600
[diff]
	renames = true
[push]
	default = nothing
